---
// variables to link site and username
const platform = "github";
const username = "pm-Andrew";
const platform2 = "linkedin";
const username2 = "andrewsabourin";
---

<footer>
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
    <p>
        Reach me on <a href={`https://www.${platform2}.com/${username2}`}
            >{platform2}</a
        >!
    </p>
</footer>

<style>
    p {
        margin: 12px 8px;
        padding: 5px 10px;
        display: inline;
    }
    footer {
        border: 1px solid black;
        padding: 15px;
    }
</style>
